all: build

build:  src/extended-bash-env.service.erb docs/extended-bash-env.7.md
	mkdir build
	erb -r ./build-config.rb src/extended-bash-env.service.erb > build/extended-bash-env.service
	pandoc -s -t man docs/extended-bash-env.7.md | gzip > build/extended-bash-env.7.gz

install: README.md src/extended-bash-env.pl src/extended-bash-env.sh build/*.service build/extended-bash-env.7.gz
	install -d -m 755 \
		<%= @destdir %><%= @docdir %>/extended-bash-env/ \
		<%= @destdir %><%= @datadir %>/extended-bash-env/  \
		<%= @destdir %><%= @libexecdir %> \
		<%= @destdir %><%= @sysconfdir %>/extended-bash-env/\
		<%= @destdir %><%= @mandir %>/man7/ \
		<%= @destdir %>/etc/profile.d/ \
		<%= @destdir %>/etc/systemd/system/ 
	install -m 644 README.md LICENSE <%= @destdir %><%= @docdir %>/extended-bash-env/
	install -m 755 src/extended-bash-env.pl <%= @destdir %><%= @libexecdir %>/
	install -m 644 build/extended-bash-env.7.gz <%= @destdir %><%= @mandir %>/man7/
	install -m 644 src/extended-bash-env.sh <%= @destdir %>/etc/profile.d/
	install -m 644 build/*.service <%= @destdir %>/etc/systemd/system/ 
	#install -m 644 src/*.timer <%= @destdir %>/etc/systemd/system/ 

clean:
	rm -rf build
