[Unit]
Description=Extended Bash Environment Service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=<%= @libexecdir %>/extended-bash-env.pl
RuntimeDirectory=extended-bash-env
WorkingDirectory=%t/extended-bash-env

[Install]
WantedBy=multi-user.target
